/* Proyectos */
.proy {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 0;

// MIXIN
@mixin card_props($size) {
    width: $size;
    height: $size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 0px 0px 20px #000;
}

    /* Contenedor de Proyectos */
    &__card {
        @include card_props(280px);
    }

    &__title {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        font-size: 2.2rem;
        color: white;
    }

    &__img {
        width: 100%;
        object-fit: cover;
        border: solid 1px white;
    }

    &__buttons {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__button {
        color: white;
        width: 110px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 20px;
        font-size: 1.4rem;
        border: 1px solid white;
        opacity: .8;

        &:hover {
            opacity: 1;
        }

        // EXTEND
        &--visitar {
            @extend .proy__button;
            background-color: $color_azulbase;
        }

        &--ver {
            @extend .proy__button;
            background-color: $color_base;
        }
    }
}

.img__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}